body{
    color: white;
    background-color: lightgray;
}
span {
    background-color: darkorange;
    font-weight: bold; 
    text-decoration: underline; 
}
#box-1{
    background-color: darkgreen;

}
#box-2{
    background-color:darkblue
    padding: 5px;

}
#box in box2{
    background-color: darkred;
}
#list-1{
    color: aqua;
}
