.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > * {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
}

@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 80% 20%;
  }

  .grid-container > nav {
    grid-column: span 1;
  }
}

@media screen and (min-width: 992px) {
  .grid-container {
    grid-template-columns: 60% 20% 20%;
  }

  .grid-container > nav {
    grid-column: span 1;
  }

  .grid-container > aside {
    grid-column: span 1;
  }
}
