
body{
    background-color: white;
}


body {
    font-size: 16px;
}

@media only screen and (max-width: 300px) {
    body {
        font-size: 14px;
    }
    img {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    body {
        font-size: 18px;
    }
}
